@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Front/**/*';
@source '../../../../resources/views/filament/front/**/*';

.fi-main-ctn{
    @apply min-h-0;
}

.fi-body{
    background-color: #fdfbf8;
}

/* Start Topbar */
.fi-topbar{
    @apply shadow-sm;
    background-color: #fdfbf8;
}

.fi-topbar-ctn{
    background-color: #fdfbf8;
}

.fi-topbar{
    @apply lg:px-28;
    min-height: calc(var(--spacing)*20);
}

.fi-topbar-start{
    @apply max-w-7xl mx-auto flex items-center gap-x-4;
}

.fi-topbar-nav-groups{
     @apply w-full max-w-7xl mx-auto hidden lg:flex items-center justify-end gap-x-4;
}

/* Start hero */
.hero-banner{
   background-color: #fbeae8;
   width: 100%;
}

.hero-content{
    @apply container mx-auto flex flex-col md:flex-row items-center;
    max-width: 1200px;
}

.hero-text{
    @apply w-full md:w-1/2 text-center md:text-left mb-10 md:mb-0;
}

.hero-title{
    @apply text-4xl lg:text-5xl font-bold text-teal-700 leading-tight mb-6;
}

.hero-description{
    @apply text-gray-600 mb-8;
}

.hero-image-container{
    /* @apply w-full md:w-1/2 relative h-64 md:h-auto; */
}

.hero-image-wrapper {
    /* @apply absolute -right-20 -bottom-10 md:-right-10 md:top-0 md:bottom-auto; */
}

.search-button{
    @apply inline-block bg-teal-600 text-white font-semibold py-3 px-8 rounded-lg shadow-lg hover:bg-teal-700 transition duration-300 transform hover:-translate-y-1;
}

.fi-header-heading{
    display: none;
}

.fi-ta-filters-header{
   display: none;
}

.fi-ta-record{
    padding: calc(var(--spacing) * 2) !important;
}

.fi-topbar-item{
    @apply text-gray-600 hover:text-teal-600 transition duration-300;
}

.fi-topbar-item-label{
    @apply text-base;
}

.fi-ta-header-ctn{
    border-color: transparent !important;
}
/* Start Widget */

.fi-section-content-ctn{
    max-width: 100%;
    padding-bottom: 3rem;
}

.fi-wi-stats-overview-stat{
    @apply hover:shadow-lg transition-shadow duration-300;
    padding: 1.5rem;
    transition: transform 0.2s ease-in-out;
}
.fi-wi-stats-overview-stat-value{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.25rem;
    color: teal;
}

.fi-wi-stats-overview-stat-description{
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;  
    display: block;
    color: #4A7C7A;
}

.fi-ta-ctn{
    background-color: transparent;
}

.fi-ta-record{
@apply bg-white p-6 rounded-lg shadow-md border-t-4 border-teal-600 hover:shadow-xl transition-shadow duration-300;
}

/* Jumbotron Start */
.jumbotron {
    @apply py-20;
    background-color: #fbeae8;
}

.jumbotroncontainer {
    @apply mx-auto px-6;
}

.jumbotron h2 {
    @apply text-4xl font-bold text-center text-teal-700;
}

/* Content Start */

.thumbnail-image{
    @apply w-full rounded-lg shadow-lg object-cover;
}

.header-section{
    @apply text-teal-600;
}

.content-section{
    @apply container mx-auto;
    max-width: 1200px;
}

.fi-section-header-heading{
    @apply text-2xl font-bold text-gray-800 mb-3 mt-3;
}

.content-section h3{
    @apply text-xl font-semibold text-gray-800 mb-3 mt-3 text-center;
}

.content-section p{
    @apply text-gray-700 mb-5 leading-relaxed;
}

.content-section ol{
    @apply list-decimal list-inside mb-5 text-gray-700;
}


/* Footer Start */
.footer{
    @apply bg-gray-800 text-white;
}

.footer-container{
    @apply container mx-auto px-6 py-8;
}

.footer-content{
    @apply flex flex-col md:flex-row justify-center items-center text-center;
}

.footer-heading{
    @apply font-bold text-lg;
}

.footer-copyright{
    @apply text-sm text-gray-400;
}
